extends ../layout

block content
  .container-fluid.p-0
    .row.g-0
      .col-lg-6.d-none.d-xl-block
        img.img-fluid.login-img.shadow(src="/images/lights.jpg", alt="Old Typewriter")
      .col-xl-6.col-lg-12.login-form
        h1.py-3 Forget your password?
        p Enter your email address to being resetting your password
        form(action="/auth/forgot-password" method="POST")
          .form-inputs
            .mb-2
              label(for="email") Email Address
              input.form-control(type="email" name="email" id="email" placeholder="Email Address" autofocus)
            .mb-2
              input(type="hidden", name="_csrf" value=`${csrfToken}`)
              button.btn.btn-primary.float-right(type="submit") Change Password
              
  include ../partials/_footer