// Modal
#imageModal.modal.fade(tabindex='-1' aria-labelledby='imageModalLabel' aria-hidden='true')
  .modal-dialog
    .modal-content
      .modal-header
        h5#imageModalLabel.modal-title Upload an image
        button.close(type='button' data-dismiss='modal' aria-label='Close')
          span(aria-hidden='true') &times;
      form(action=`/users/${user.username}?_csrf=${csrfToken}`, method="post" enctype="multipart/form-data")
        .modal-body
          .form-group
            label(for="image")
            input.form-control-file(type="file", name="image")
            input(type="hidden", name="_csrf" value=`${csrfToken}`)
        .modal-footer
          button.btn.btn-secondary(type='button' data-dismiss='modal') Cancel
          button.btn.btn-primary(type='submit') Save changes