extends ../layout

block content
  .container.my-5
    .row
      .col-12.mt-5
        h1.text-center Your Profile
        hr.type_10
      .col-xl-4
        .card.shadow
          img.img-fluid.card-img-top(src=`${user.image.secure_url}`)
          ul.list-group.list-group-flush
            li.list-group-item Role: &nbsp;
              if user.roles.admin || user.roles.dev_admin
                i.far.fa-users-crown &nbsp; Admin
              else if user.roles.manager
                i.far.fa-users-cog &nbsp; Manager
              else
                i.fal.fa-user &nbsp; User
            li.list-group-item Name: #{user.firstName.charAt(0).toUpperCase()+user.firstName.slice(1) + ' ' + user.lastName.charAt(0).toUpperCase()+user.lastName.slice(1)}
            li.list-group-item Username: #{user.username}
            li.list-group-item Email: #{user.email}
            li.list-group-item.p-0
              button.btn.btn-outline-primary.btn-block(type="button" data-toggle="modal" data-target="#imageModal") Update Image
            li.list-group-item.p-0
              button.btn.btn-outline-secondary.btn-block(type="button" data-toggle="modal" data-target="#pwModal") Change Password
            li.list-group-item.p-0
              button.btn.btn-outline-success.btn-block(type="button" data-toggle="modal" data-target="#emailModal") Change Email
            li.list-group-item.p-0
              button.btn.btn-outline-warning.btn-block(type="button" data-toggle="modal" data-target="#usernameModal") Change Username
            li.list-group-item.p-0
              button.btn.btn-outline-danger.btn-block(type="button" data-toggle="modal" data-target="#deleteModal") Delete Account
              
      .col-xl-8
        if !user.blogs.length
          h1.text-center No Blogs Yet
        else
          each blog in user.blogs
            h1.text-center Blog


  include ../modals/imageModal        
  include ../modals/pwModal        
  include ../partials/_footer