nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.fixed-top
  .container-fluid
    a.navbar-brand(href='#') SimpleBlog
    button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navContent' aria-controls='navContent' aria-expanded='false' aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navContent.collapse.navbar-collapse
      ul.navbar-nav.mr-auto.mb-2.mb-lg-0
        li.nav-item
          a.nav-link(class=(url === 'home' ? 'active' : undefined) href='/') Home
        li.nav-item
          a.nav-link(class=(url === 'new-blog' ? 'active' : undefined) href='#') New Blog
        li.nav-item
          a.nav-link(class=(url === 'all-blogs' ? 'active' : undefined) href='/blogs') View Blogs
        if currentUser && currentUser.roles.admin
          li.nav-item
            a.nav-link(class=(url === 'acp' ? 'active' : undefined) href='/admin') ACP
      ul.navbar-nav.ml-auto.mb-2.mb-lg-0
        if currentUser && isAuthenticated
          li.nav-item
            a.nav-link(class=(url === 'profile' ? 'active' : undefined) href=`/users/${currentUser.username}`) Profile
          li.nav-item
            a.nav-link(href='/auth/logout') Logout #{currentUser.firstName.charAt(0).toUpperCase() + currentUser.firstName.slice(1)}
        else
          li.nav-item
            a.nav-link(class=(url === 'register' ? 'active' : undefined) href='/auth/register') Register
          li.nav-item
            a.nav-link(class=(url === 'login' ? 'active' : undefined) href='/auth/login') Login