nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.fixed-top
  .container-fluid
    a.navbar-brand(href='#') SimpleBlog
    button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarSupportedContent.collapse.navbar-collapse
      ul.navbar-nav.mr-auto.mb-2.mb-lg-0
        li.nav-item
          a.nav-link(class=(url === 'home' ? 'active' : undefined) href='/') Home
        li.nav-item
          a.nav-link(class=(url === 'new-blog' ? 'active' : undefined) href='#') New Blog
      ul.navbar-nav.ml-auto.mb-2.mb-lg-0
        if currentUser && isAuthenticated
          li.nav-item
            a.nav-link(class=(url === 'profile' ? 'active' : undefined) href='#') Profile
          li.nav-item
            a.nav-link(href='/auth/logout') Logout
        else
          li.nav-item
            a.nav-link(class=(url === 'register' ? 'active' : undefined) href='/auth/register') Register
          li.nav-item
            a.nav-link(class=(url === 'login' ? 'active' : undefined) href='/auth/login') Login