doctype html
html
  head
    title 404
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/404.css')
  body
    section.page_404
      .container
        .row
          .col-sm-12
            .col-sm-10.col-sm-offset-1.text-center
              .four_zero_four_bg
                h1.text-center.z-change 404
              .contant_box_404
                h3.h2
                  | Look like you're lost
                p the page you are looking for not avaible!
                a.link_404(href='/') Go to Home