doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title 505
    link(rel='stylesheet', href='/stylesheets/500.css')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js')
  body
    .full-screen
      .container
        span.error-num 5
        .eye
        .eye
        p.sub-text
          | Oh eyeballs! Something went wrong. We're 
          span.italic looking
          |  to see what happened.
        a(href='/') Go back
    script(src='/javascripts/500.js')