extends baseEmail

block content
  p Hi #{firstName},
  p It looks like your password was changed.
  p If this was not you, please change your password to secure your account.
  table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
    tbody
      tr
        td(align='left')
          table(role='presentation', border='0', cellpadding='0', cellspacing='0')
            tbody
              tr
                td
                  a(href=`${url}`, target='_blank') Visit Site
  p If you need any help please don't hesitate to contact me!
  p - Darrell Pawson, CEO